# Linux Kernel Module build files
*.o
*.ko
*.mod
*.mod.c
*.cmd
Module.symvers
modules.order
Cyber Security Project 10 - 2026.pdf
Cyber Security Project 11 - 2026.pdf
Firewall task 12 - NetFilter Integration.pdf

# firewall-agent build output
firewall-agent/firewall-agent

